<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, inital-scale=1">
    <title>{% block title %}Yonlendirme Sayfasi{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

       <div style="background-color: #5499C7">
        {% include 'messages.html'%}
       <div>
           <table cellpadding="10">
               <td><img src="{% static 'images/icon1.png' %}"></td>
               <td><img src="{% static 'images/icon2.png' %}"></td>
               <td><img src="{% static 'images/icon3.png' %}"></td>
               <td><img src="{% static 'images/icon4.png' %}"></td>
               <td><img src="{% static 'images/icon6.png' %}"></td>
               <td><img src="{% static 'images/icon7.png' %}"></td>
           </table>
       </div>
       </div>
       {% include 'header.html' %}

        {% block body %}
        {% endblock %}

        <script src="{% static 'js/jquery.min.js' %}"></script>
       <script src="{% static 'js/bootstrap.min.js' %}"></script>

        <div style="background-color:#82E0AA" align="right">2020 tum hakları saklıdır</div>
</body>
</html>